      <div class="row-fluid">

        <div class="span12">
          <div class="hero-unit">
            <h1>I Am YouMixr - I Am Alive!</h1>
            <p>This is my first deployment of the brand new app youmixr. Feel free to test it and send me a review!</p>
            <p><%= link_to "Getting started", 'run', :class=>"btn btn-primary btn-large" %></p>

          </div>          
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->
