<section class="landingpage">
  <div class="container">
    <h1>I Am YouMixr - I Am Alive!</h1>
    <p>This is my first deployment of the brand new app youmixr. Feel free to test it and send me a review!</p>
    <p class="center-block"><%= link_to "Getting started", 'run', :class=>"btn btn-primary btn-lg btn-block col-md-4", style: "background-color:#c10e3c;" %></p>
  </div>
</section>         

