<section class="container">
  <div class="row-fluid">
		<h1>Listing playlists <%= link_to raw('New Playlist <i class="icon-plus"></i>'), new_playlist_path, :class => "btn btn-link" %></h1>

		<%= render :partial => 'playlists/list_without_owner' %>
  </div>
</section>

