<div class="span3">
  <div class="well sidebar-nav">

   <%= form_tag(search_songs_path, :remote => true, :class => "navbar-form") do -%>
     <fieldset>
     <ul class="nav nav-list">
      <li class="nav-header">Filter</li>
      <%- Youmixr::Plattform.each_pair do |key, value| %>
      <li>
        <label class="checkbox">
          <input name="source_filter[]" <%=if !params[:source_filter].nil? && params[:source_filter].include?(key) then "checked='checked'" end %> value="<%= key %>" type="checkbox"> <%= value %>
        </label>
      </li>
      <% end %>
    </ul>
    </fieldset>
   <% end -%>
  </div><!--/.well -->
</div><!--/span-->

