<li class="clearfix">
  <div class="search-thumbnail pull-left"> 
    <img alt="Default" height="60" width="60"/>
  </div>
  <div>
     <p class="pull-right">         
         <a class="close" data-remote="true">&times;</a>        
         <a class="btn btn-small add-song-btn" data-remote="true"><i class='icon-plus-sign'></i></a>      
         <a class="btn btn-small play-song-btn" data-remote="true"><i class='icon-play'></i></a>       
     </p>

    <p class="truncate artistname"></p>
    <p class="truncate songtitle"></p>
  </div>
</li>
