<li class="clearfix media search-thumbnail">
    <a class="pull-left play-song" href="#">
      <img class="media-object" src="#" alt="Default">
    </a>
    <div class="media-body">
      <p class="pull-right">         
         <a class="close" data-remote="true">&times;</a>        
         <span class="btn btn-small add-song"><i class='icon-plus-sign'></i></span>      
         <span class="btn btn-small play-song"><i class='icon-play'></i></span>       
      </p>
      <h4 class="media-heading truncate songtitle"></h4>
      <span class="truncate artistname"></span>

    </div>
</li>
