
    <div class="container-fluid">
      <div class="row-fluid">
	<%= render "searchform" %>
  <%= render "playlists/small_list" %>
        <div class="span6">
	  <h1>Search Results</h1>        	
          <ul class="search-result-list unstyled connectedSortable">
          </ul>
        </div>
        
      </div><!--/row-->
    </div><!--/container-->
