@import "bootstrap";

body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.container-fluid {
  margin-top: 20px
}
.sidebar-nav {
  padding: 9px;
  .search-form-sidebar{
    display:none;
    button{
      margin-top: 10px
    }
  }
}

@media(max-width: $screen-md-min){
    nav .collapse{
      padding-left: 154px !important;
    }
  }

nav{
  .collapse{
    padding-left: 454px;
    padding-right:330px;
  }

  .search-form-header{
    width:300px;
    margin-left: -300px;
  }

  ul.navbar-nav{
    margin-right: -330px !important;
  }

  .navbar-form .btn{
    margin-top:0px;
  }
}
      
      

@media (max-width: $screen-md-min) { 
  
  /* Enable use of floated navbar text */

  .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
  }
  .search-form-header{
    display:none;
  }

  .sidebar-nav{
    margin: 10px;
    .search-form-sidebar{
      display:inline;
    }
  }

}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.middle{
 background-color:blue;
}

.aside{
 background-color:yellow;
}

a:hover{
  color: #005580
}

footer{
  margin:20px;
  a:hover{
    color:#000;
  }
}

