@import "bootstrap";

body {
  padding-top: 50px;
  padding-bottom: 40px;
}

.sidebar-nav {
  padding: 9px;
  .search-form-sidebar button{
    margin-top: 10px
  }
}

nav{
  .search-form-header{
    width:300px;
  }

  .navbar-form .btn{
    margin-top:0px;
  }
}
      
.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

html {
  overflow-y: scroll;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.middle{
 background-color:blue;
}

.aside{
 background-color:yellow;
}

a:hover{
  color: #005580
}

footer{
  margin:20px;
  a:hover{
    color:#000;
  }
}

// mixr page

#mainframe{
  margin-top:10px;
}

// Landingpage

.landingpage{
  background-color: #dcd758 ;
  height:500px;
  color:#45808d;
  height: 100%;
  width: 100%;
  position: absolute;
  top:0px;
  padding-top: 50px;
  + footer{
    margin-top:250px;
  }
  .center-block{
    margin-top:20px;
  }
  a:visited{
    color:#ffffff;
  }
}