// Place all the styles related to the playlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.playlist-small .btn{
  display:none;
}
.playlist-small .close{
  display:inline;
}

.playlist input{
	margin-bottom:0px;
}

@media (min-width: 1200px) { /* header 223px + x + 200px */
	.playlist{
    	float:right !important;          
	}
}