<footer>
  <div class="container">
    <hr>
    <%= link_to "YouMixr Alpha 0.2", root_path, :class=>"navbar-brand" %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to raw("&copy; Johannes Koch 2013"), "mailto:jkoch.contact@gmail.com?subject=YouMixr%20Review"%></li>
    </ul>
  </div>
</footer>