<footer>
  <div class="container">
    <hr>
    <%= link_to "ymixr Alpha 0.2", root_path, :class=>"navbar-brand" %>
    <%= link_to raw("&copy; Johannes Koch 2013"), "mailto:jkoch.contact@gmail.com?subject=ymixr%20Review",
    		:class => "pull-right" %>
  </div>
</footer>