<section>
  <div class="hidden-player">
    <div id="ytPlayer"></div>
    <div id="viPlayer"></div>
  </div>
  <% if notice %>
  <div class="alert alert-info alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Warning!</strong> <%= notice %>
  </div>
  <% end %>
</section>

<section id="mixr">
  <div class="row-fluid">
    <%= render "playlists/small_list" %>
    <div class="col-md-8 search-result-container">
      <%= render "layouts/searchform" %>
      <div class="row search-results-header">
        <h1>Search Results</h1>
        <p>
        	<button id="show-sc-results" type="button" class="btn btn-default btn-xs pull-right">Soundcloud</button>	
        	<button id="show-vi-results" type="button" class="btn btn-default btn-xs pull-right">Vimeo</button>
        	<button id="show-yt-results" type="button" class="btn btn-default btn-xs pull-right">Youtube</button>	
        </p>
      </div>        
      <div class="row">
        <div class="search-result-loading">
        	<i class="icon-spinner icon-spin icon-large"></i> Loading ...
        </div>
        <ul class="search-result-list search-result-list-yt unstyled connectedSortable"></ul>
        <ul class="search-result-list search-result-list-sc unstyled connectedSortable"></ul>
        <ul class="search-result-list search-result-list-vi unstyled connectedSortable"></ul>
      </div>
    </div>      
  </div>
</section>
