<%= render "layouts/searchform" %>
<%= render "playlists/small_list" %>
<div class="col-md-8 search-result-container" style="display:none;">
  <h1>Search Results</h1>        	
  <div class="search-result-loading">
  	<i class="icon-spinner icon-spin icon-large"></i> Loading ...
  </div>
  <ul class="search-result-list unstyled connectedSortable"></ul>
</div>      

